<!-- Carousel wrapper -->
<div
  id="carouselBasicExample"
  class="carousel slide carousel-fade"
  data-mdb-ride="carousel"
  data-mdb-carousel-init
>
  <!-- Indicators -->
  <div class="carousel-indicators">
    <button
      type="button"
      data-mdb-target="#carouselBasicExample"
      data-mdb-slide-to="0"
      class="active"
      aria-current="true"
      aria-label="Slide 1"
    ></button>
    <button
      type="button"
      data-mdb-target="#carouselBasicExample"
      data-mdb-slide-to="1"
      aria-label="Slide 2"
    ></button>
    <button
      type="button"
      data-mdb-target="#carouselBasicExample"
      data-mdb-slide-to="2"
      aria-label="Slide 3"
    ></button>
  </div>

  <!-- Inner -->
  <div class="carousel-inner" style="top: 0">
    <!-- Single item -->
    <div class="carousel-item active" style="height: 90vh">
      <img
        src=".././assets/imgs/slide1.jpg"
        class="d-block w-100"
        alt="Sunset Over the City"
      />
      <div class="carousel-caption d-none d-md-block">
        <h5>Unleash the Power of Technology</h5>
        <p>
          Discover the latest gadgets and devices that take your tech game to
          the next level.
        </p>
      </div>
    </div>

    <!-- Single item -->
    <div class="carousel-item" style="height: 90vh">
      <img
        src=".././assets/imgs/slide2.jpg"
        class="d-block w-100"
        alt="Canyon at Nigh"
      />
      <div class="carousel-caption d-none d-md-block">
        <h5>Upgrade Your Experience</h5>
        <p>
          From laptops to smartphones, find everything you need to stay ahead in
          the digital world.
        </p>
      </div>
    </div>

    <!-- Single item -->
    <div class="carousel-item" style="height: 90vh">
      <img
        src=".././assets/imgs/slide3.jpg"
        class="d-block w-100"
        alt="Cliff Above a Stormy Sea"
      />
      <div class="carousel-caption d-none d-md-block">
        <h5>Tech Deals You Can't Miss</h5>
        <p>
          Shop top brands and exclusive offers on the best tech products
          available.
        </p>
      </div>
    </div>
  </div>
  <!-- Inner -->

  <!-- Controls -->
  <button
    class="carousel-control-prev"
    type="button"
    data-mdb-target="#carouselBasicExample"
    data-mdb-slide="prev"
  >
    <span class="fs-1" aria-hidden="true"
      ><i class="fa-sharp fa-solid fa-chevron-left"></i
    ></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-mdb-target="#carouselBasicExample"
    data-mdb-slide="next"
  >
    <span class="fs-1" aria-hidden="true"
      ><i class="fa-sharp fa-solid fa-chevron-right"></i
    ></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<!-- Carousel wrapper -->
